[submodule "third_party/vulkan"]
	path = third_party/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/volk"]
	path = third_party/volk
	url = https://github.com/zeux/volk
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
